<%- include(`partials/header`) %>
    <div class="table-container">
        <h2 class="todo-title">Todo List</h2>
        <div>
            <a class="btn" href="/add-todo">Add todo</a>
        </div>
        <br />

        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Updated at</th> 
                <th>Action</th> 
            </tr>

            <tr>
                <% for(let i = 0; i < todos.length; i++) { %>
                    <td><%= todos[i].title %></td>
                    <td><%= todos[i].desc %></td>
                    <td><%= moment(todos[i].createdAt).format(`MMMM Do, YYYY, h:mm:ss a`) %></td>
                    <td><%= moment(todos[i].updatedAt).format(`MMMM Do, YYYY, h:mm:ss a`) %></td>
                    <td>
                        <a href="/update-todo/<%= todos[i]._id %>" class="btn">Edit</a>
                        <a href="/delete-todo/<%= todos[i]._id %>" class="btn">Delete</a>


                </td>
            </tr>
                <% } %>
                
        </table>
    </div>
<%- include(`partials/footer`) %>